<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3 text-white">
            <h1 class="text-center">Contato</h1>
            <p class="text-center lead">Crie ou edite o seu contato abaixo.</p>

            <%- include('includes/messages'); %>

            <% if (contato._id) { %>
                <form class="contato" action="/contato/edit/<%= contato._id %>" method="POST">
            <% } else { %>
                <form action="/contato/register" method="POST">
            <% } %> 
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="mb-5">
                  <input value="<%= contato.nome %>" type="text" class="form-control" name="nome" placeholder="Nome">
                </div>

                <div class="mb-5">
                    <input value="<%= contato.sobrenome %>" type="text" class="form-control" name="sobrenome" placeholder="Sobrenome">
                </div>

                <div class="mb-5">
                    <input value="<%= contato.email %>" type="email" class="form-control" name="email" placeholder="Email">
                </div>

                <div class="mb-4">
                    <input value="<%= contato.telefone %>" maxlength="15" type="tel" class="form-control" name="telefone" placeholder="Telefone">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn text-white fs-5" style="background-color: #712cf9;">Salvar</button>
                  </form>
                </div>  


        </div>  

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>

  