<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container p-3 mb-2 bg-dark text-white">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <% if (user) { %>
                <p class="text-center lead"> <strong style="color: #4c0bce;"><%= user.email %></strong> seus contatos estão abaixo:</p>
            <% } %>
            <%- include('includes/messages'); %>

            <% if (user && contatos.length > 0) { %>
                <div class="responsive-table">
                    <table class="table my-3">
                        <thead>
                            <tr class="text-white text-center fw-bold">
                                <td>Nome</td>
                                <td>Sobrenome</td>
                                <td>Telefone</td>
                                <td>E-mail</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <% contatos.forEach(contato => { %> 
                            <tr class="text-white-50 text-center">
                                <td><%= contato.nome %></td>
                                <td><%= contato.sobrenome %></td>
                                <td><%= contato.telefone %></td>
                                <td><%= contato.email %></td>
                                <td><a class="text-decoration-none fw-semibold" style="color: #712cf9;" href="/contato/index/<%= contato._id%>">Editar</a></td>
                                <td><a class="text-danger text-decoration-none fw-semibold" href="/contato/delete/<%= contato._id%>">Excluir</a></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            <% } else { %>
                <p class="text-center lead text-white">Não Existem Contatos na sua Agenda!</p>
            <% } %>   
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>

  