<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container text-white">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-4">
            <h1 class="text-center">Criar Conta ou Entrar</h1>
            <p class="text-center lead">Faça Login ou crie a sua conta abaixo:</p>

            <%- include('includes/messages'); %>

            <div class="row" >

                <div class="col-lg my-5">
                    <h4>Faça o seu cadastro</h4>
                    <p>Se você ainda não tem conta, preenha os dados:</p>

                    <form class="form-cadastro" action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken    %>">
                        <div class="mb-3">
                          <label>Seu Email</label>
                          <input type="email" class="form-control" name="email">
                        </div>

                        <div class="mb-3">
                            <label>Sua Senha</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="btn text-white" style="background-color: #712cf9;">Criar Conta</button>
                      </form>

                </div>

                <div class="col-lg my-5">
                    <h4>Login</h4>
                    <p>Se você tem conta, faça login:</p>

                    <form class="form-login" action="/login/login" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="mb-3">
                          <label>Email</label>
                          <input type="email" class="form-control" name="email">
                        </div>

                        <div class="mb-3">
                            <label>Senha</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="btn text-white" style="background-color: #712cf9;">Entrar</button>
                      </form>

                </div>

            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>

  